/* 
Todo: 
1. Adjust CSS and markup so that everything displays in a single column. 
Use relative widths so that things stretch across any viewport width. 

2. Make sure your touch targets are easy to hit.

3. Test your site across different viewports. Try it on different phones, tables, 
and desktops.
*/

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto;
  font-size: 12px;
  color: #424242;
}

h1, h2, h3, h4, h5 {
  margin: 0; 
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
  width: 100%;
  grid-column: 1/3;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 100%);
  -moz-display: grid;
  /* -moz-grid-template-columns: 1fr 1fr;
  -moz-grid-template-rows: 72px 72px 300px repeat(4, 100%); */
  -ms-display: grid;
  /* -ms-grid-template-columns: 1fr 1fr;
  -ms-grid-template-rows: 72px 72px 300px repeat(4, 100%);
  -webkit-display: grid;
  -webkit-grid-template-columns: 1fr 1fr;
  -webkit-grid-template-rows: 72px 72px 300px repeat(4, 100%);
  grid-auto-flow: row; */
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  /* grid-column: 0;
  -ms-grid-column: 0; */
}

/*
 *
 * Common
 * 
 */

.news__more {
  font-size: .8em;
  color: #333;
  text-decoration: none;
  /* grid-row: 4/5; */
}


/*
 *
 * Header
 *
 */

.header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  min-height: 56px;
  transition: min-height 0.3s;
}

.header__inner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.header__logo {
  height: 72px;
  vertical-align: top;
  margin-top: auto 0;
  order: 0;
}

.header__title {
  width: 70%;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 72px;
  text-align: center;
  margin: auto 0;
  color: #212121;
  order: 1;
}


/*
 *
 * Top Level Navigation
 *
 */

.nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.nav__list {
  width: 100%;
  padding: 0;
  margin: 0;
  
}

.nav__item {
  box-sizing: border-box;
  display: inline-block;
  width: 24%;
  text-align: center;
  line-height: 24px;
  padding: 24px;
  text-transform: uppercase;
  
}

.nav a {
  text-decoration: none;
  color: #616161;
}

.nav a:hover {
  text-decoration: underline;
  color: #212121;
}


/*
 *
 * Main
 *
 */

main {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  grid-column: 1/3;
  
}

/*
 *
 * Content
 *
 */


/*
 *
 * Hero
 *
 */

.hero {
  /* float: left; */
  width: 100%;
  position: relative;
  background-image: url("./images/dog.jpg");
  background-size: cover;
  height: 300px;
  grid-column: 1/3;
  grid-row: 1/2;
}

.hero article {
  box-sizing: border-box;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  height: 40%;
  width: 100%;
  color: #fff;
  padding: 1em;
  
}


/*
 *
 * Top News
 *
 */

 .news {
   grid-column: 2/3;
   grid-row: 4/5;
 }

.top-news {
  /* float: right; */
  /* background: red; */
  width: 100%;
  height: 300px;
  border-bottom: 1px solid #E0E0E0;
  padding: 1em;
  grid-column: 2/3;
  grid-row: 2/3;
  
}

.news__title {
  font-weight: 300;
  border-bottom: 1px solid #E0E0E0;
  line-height: 24px;
  font-size: 16px;
  
}

.top-news__item {
  border-bottom: 1px solid #E0E0E0;
  padding: 1em 0;
  line-height: 19.2px;
  
}

.top-news__item:before {
  content: "» ";
  
}

.top-news__item:last-child {
  border-bottom: none;
  
}

.top-news__item a {
  text-decoration: none;
  color: #666;
}

.top-news__item a:hover,
.top-news__item a:active {
  text-decoration: underline;
}


/*
 *
 * Sport Scores
 *
 */

.scores {
  width: 100%;
  /* float: left; */
  /* padding-top: 1em; */
  grid-column: 1/3;
  grid-row: 3/4;
}

.scores__table {
  width: 100%;
  border-collapse: collapse;
}

.scores__table th,
.scores__table td {
  padding: 1em; 
}

.scores__table th {
  color: #fff;
  font-weight: 300;
  background-color: #78909C;
}

.scores__table tr:nth-child(odd) td {
  background-color: #fff;
}

.scores__table tr:nth-child(even) td {
  background-color: #eceff1;
}

.scores__table td.winner {
  font-weight: bold;
}

.scores__table td:nth-child(3) {
  text-align: right;
}

.scores__table td:nth-child(2),
.scores__table td:nth-child(5) {
  text-align: center;
}

/*
 *
 * Weather
 *
 */

.weather {
  /* float: right; */
  width: 100%;
  padding: 1em;
  grid-column: 1/2;
  grid-row: 2/3;
  
}

.weather__location {
  display: block;
  font-weight: 300;
  font-size: 1.5em;
}

.weather__desc {
  display: block;
  font-size: 1.2em;
}

.weather__today {
  width: 60%;
  vertical-align: middle;
}

.weather__today__image {
  vertical-align: middle
}

.weather__today__temp {
  font-size: 3em;
}

.weather__today__deg {
  font-size: 2em;
  display: inline;
}

.weather__next__item {
  display: inline-block;
  width: 20%;
  text-align: center;
}

.weather__next__item span {
  display: block;
}

.weather__next__image {
  width: 100%;
}


/*
 *
 * Weather
 *
 */

.recent-news {
  /* clear: both; */
  padding: 1em;
  grid-row: 4/5;
  grid-column: 1/3;
}

.snippet {
  /* clear: both; */
  margin: 24px 0;
}

.snippet__thumbnail {
  width: 100px;
  /* float: left; */
  margin-right: 1em;
}

.snippet__title {
  font-weight: 500;
}

.snippet__title a {
  text-decoration: none;
  color: #666;
}

.snippet__title a:hover,
.snippet__title a:active {
  text-decoration: underline;
}


/*
 *
 * Footer
 *
 */

footer {
  border-top: 1px solid #E0E0E0;
  padding: 1em;
  width: 100%;
  grid-column: 1/3;
  grid-row: 5/6;
}

footer li {
  display: inline-block;
  margin: 0 1em;
}

footer a {
  text-decoration: none;
  color: #333;
}
